<header id="header">

  {% if page.url contains "blog" %}
  <a href="/blog" class="logo"><strong>Blog posts</strong> by Suze Shardlow</a>
  {% else %}
  <a href="/" class="logo"><strong>Suze.dev</strong> by Suze Shardlow</a>
  {% endif %}
  
  <ul class="icons">
    <span class="label">Share</span>
    {% for item in site.data.social_sharer %}
    <li>
      <a href="{{ item.link }}Check out {{ page.headline }} by Suze Shardlow! http://localhost:4000/{{ page.url }}" class="{{ item.class }}"></a>
    </li>
    {% endfor %}
  </ul>

</header>
