<header id="header">
  {% if page.url contains "blog" %}
  <a href="/blog" class="logo"><strong>Blog posts</strong> by Suze Shardlow</a>
  {% elsif page.url contains "coding_projects" %}
  <a href="/coding_projects" class="logo"><strong>Coding projects</strong> by Suze Shardlow</a>
  {% elsif page.url contains "talks" %}
  <a href="/talks" class="logo"><strong>Talks</strong> by Suze Shardlow</a>
  {% else %}
  <a href="/" class="logo"><strong>Suze.dev</strong> by Suze Shardlow</a>
  {% endif %}
  {% include social_sharer.html %}
  <div class="align-right">
    {% include coffee.html %}
  </div>
</header>