<div id="sidebar">
  <div class="inner">
    <nav id="menu">
      <header class="major">
        <h2>Look around...</h2>
      </header>

      <ul>
        {% for menu_item in site.data.navigation %}
        {% if menu_item.submenuitems[0] %}
        <li>
        <span class="opener">{{ menu_item.name }}</span>
      <ul>
          {% for submenuitem in menu_item.submenuitems %}
            <li><a href="{{submenuitem.url}}">{{submenuitem.page}}</a>
            </li>
        </li>
          {% endfor %}
      </ul>

        {% else %}
        <li><a href="{{ menu_item.link }}">{{ menu_item.name }}</a>
        </li>
        {% endif %}

        {% endfor %}

        <!-- <li>
          <span class="opener">Submenu</span>
          <ul>
            <li><a href="#">Lorem Dolor</a></li>
            <li><a href="#">Ipsum Adipiscing</a></li>
            <li><a href="#">Tempus Magna</a></li>
            <li><a href="#">Feugiat Veroeros</a></li>
          </ul>
        </li>
        <li><a href="#">Etiam Dolore</a></li>
        <li><a href="#">Adipiscing</a></li> -->

      </ul>

      {% include coffee.html %}

    </nav>

    {% include footer.html %}

  </div>
</div>