<div id="sidebar">
  <div class="inner">
    <nav id="menu">
      <header class="major">
        <h2>Look around...</h2>
      </header>

      <ul>
        {% for menu_item in site.data.navigation %}
          {% if menu_item.link == "/" %}
            {% if page.url == "/" %}
              {% assign menu_highlight = "menu-highlight" %}
            {% else %}
              {% assign menu_highlight = "" %}
            {% endif %}
          {% else %}
            {% if page.url contains menu_item.link %}
              {% assign menu_highlight = "menu-highlight" %}
            {% else %}
              {% assign menu_highlight = "" %}
            {% endif %}
          {% endif %}

        {% if menu_item.submenuitems[0] %}
        <li>
          {% assign subsection_highlight = "" %}
          {% capture submenulist %}
            <ul>
              {% for submenuitem in menu_item.submenuitems %}
                {% if page.url contains submenuitem.link %}
                  {% assign menu_highlight = "menu-highlight" %}
                  {% assign subsection_highlight = "menu-highlight" %}
                {% else %}
                  {% assign menu_highlight = "" %}
                {% endif %}
              <li><a href="{{ submenuitem.link }}" class="{{ menu_highlight }}">{{submenuitem.page}}</a>
              </li>
        </li>
          {% endfor %}
            </ul>
          {% endcapture %}

        <span class="opener {{ subsection_highlight }}">{{ menu_item.name }}</span>
          {{ submenulist }}

        {% else %}
          <li><a href="{{ menu_item.link }}" class="{{ menu_highlight }}">{{ menu_item.name }}</a>
          </li>
        {% endif %}

        {% endfor %}

        {% comment %}
        <!-- <li>
          <span class="opener">Submenu</span>
          <ul>
            <li><a href="#">Lorem Dolor</a></li>
            <li><a href="#">Ipsum Adipiscing</a></li>
            <li><a href="#">Tempus Magna</a></li>
            <li><a href="#">Feugiat Veroeros</a></li>
          </ul>
        </li>
        <li><a href="#">Etiam Dolore</a></li>
        <li><a href="#">Adipiscing</a></li> -->
        {% endcomment %}

      </ul>

      {% include coffee.html %}

    </nav>

    {% include footer.html %}

  </div>
</div>