<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
</head>
<body>
  <div id="wrapper">
    <div id="main">
      <div class="inner">
        {% include header.html %}
        <section id="banner">
          <div class="content">
            <header class="main">
              <h1>{{ page.headline }}</h1>
              <p>{{ page.sub_headline }}</p>
            </header>
          </section>
          <span class="image main"><img src="/images/{{ page.main_image }}"></span>

          <div class=row>
            {% for post in site.posts %}
            <div class="col-4 col-12-medium">
              <a href="{{ post.url }}">
                <span class="image fit"><img src="/images/{{ post.main_image }}"></span>
                <h3>{{ post.title }}</a></h3>
                <h4>{{ post.date | date: "%A %-d %B, %Y" }} • {{ post.read_time }} read</h4>

                <p>{{ post.excerpt }}</p>
              </div>
              {% endfor %}
            </div>

            <!-- {{ content }} -->
          </div>
        </div>
        {% include navigation.html %}
      </div>

      <script src="/assets/js/jquery.min.js"></script>
      <script src="/assets/js/browser.min.js"></script>
      <script src="/assets/js/breakpoints.min.js"></script>
      <script src="/assets/js/util.js"></script>
      <script src="/assets/js/main.js"></script>

    </body>
    </html>
