<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
</head>
<body>
  <div id="wrapper">
    <div id="main">
      <div class="inner">
        {% include header.html %}
        <section id="banner">
          <div class="content">
            <header class="main">
              <h1>{{ page.headline }}</h1>
              <p>{{ page.sub_headline }}</p>
            </header>
          </section>
          <!-- <span class="image main"><img src="/images/{{ page.main_image }}"></span> -->
          <div class=row>
            {% for app in site.coding_projects %}
            <div class="col-6 col-12-medium">
              <a href="{{ app.url }}">
                <span class="image fit"><img src="/images/{{ app.main_image }}"></span>
                <h3>{{ app.name }}</a></h3>
                <p>{{ app.sub_headline }}
                <a href="{{ app.url }}" class="button small">Learn More</a><p>

              </div>
              {% endfor %}
            </div>

            {{ content }}
          </div>
        </div>
        {% include navigation.html %}
      </div>

      <script src="/assets/js/jquery.min.js"></script>
      <script src="/assets/js/browser.min.js"></script>
      <script src="/assets/js/breakpoints.min.js"></script>
      <script src="/assets/js/util.js"></script>
      <script src="/assets/js/main.js"></script>

    </body>
    </html>
