<!DOCTYPE HTML>
<html>

{% include head_tag.html %}

<body>
  <div id="wrapper">
    <div id="main">
      <div class="inner">
        {% include header.html %}
        <section id="banner">
          <div class="content">
            <header class="main">
              <h1>{{ page.headline }}</h1>
              <p>{{ page.sub_headline }}</p>
            </header>
            {{ content }}
          </div>
          <span class="image object">
            <img src="{{ page.image }}" alt="" />
          </span>

        </section>

      </div>
    </div>
    {% include navigation.html %}
  </div>
  </div>
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/browser.min.js"></script>
  <script src="/assets/js/breakpoints.min.js"></script>
  <script src="/assets/js/util.js"></script>
  <script src="/assets/js/main.js"></script>

</body>

</html>