<!DOCTYPE HTML>
<html>

{% include head_tag.html %}

<body>
  <div id="wrapper">
    <div id="main">
      <div class="inner">
        {% include header.html %}
        <section id="banner">
          <div class="content">
            <header class="main">
              <h1>{{ page.headline }}</h1>
              <p>{{ page.sub_headline }}</p>
            </header>
        </section>
        <!-- <span class="image main"><img src="{{ page.image }}"></span> -->

        <header class="major">
          <h2>Writing</h2>
        </header>
        <div class="row">
          {% for post in site.posts limit:2 %}
          <div class="col-6 col-12-medium">
            <a href="{{ post.url }}">
              <span class="image fit">
                <div class="zoombox">
                  <img src="{{ post.image }}" class="zoomimg">
                </div>
              </span>
              <h3 class="bloglist-title">{{ post.headline }}
            </a></h3>
            <h4 class="bloglist-subtitle">
              {% assign day = post.date | date: "%-d"  %}
              {% case day %}
              {% when '1' or '21' or '31' %}{{ day }}st
              {% when '2' or '22' %}{{ day }}nd
              {% when '3' or '23' %}{{ day }}rd
              {% else %}{{ day }}th
              {% endcase %}
              {{ post.date | date: " %B %Y" }} • {{ post.category }} •
              {{ post.read_time }}-minute read
            </h4>
            {{ post.excerpt }}
          </div>
          {% endfor %}
        </div>

        <header class="major">
          <h2>Speaking</h2>
        </header>
        <div class="row">
          {% for event in site.public_speaking %}
          {% if event.home == true %}
          <div class="col-4 col-12-medium">
            <a href="/public_speaking">
              <span class="image fit">
                <div class="zoombox">
                  <img src="{{ event.image }}" class="zoomimg">
                </div>
              </span>
              <div>
                <h3 class="bloglist-title">{{ event.title }}
            </a></h3>
          </div>
          <p>
            {{ event.venue }}
          <p>
        </div>
        {% endif %}
        {% endfor %}
      </div>

      <header class="major">
        <h2>Coding</h2>
      </header>
      <div class="row">
        {% for app in site.coding_projects %}
        {% if app.home == true %}
        <div class="col-3 col-12-medium">
          <a href="{{ app.url }}">
            <span class="image fit">
              <div class="zoombox">
                <img src="{{ app.image }}" class="zoomimg">
              </div>
            </span>
            <div>
              <h3 class="learn-header">{{ app.name }}
          </a></h3>
          <!-- <div class="align-right learn-more">
              <a href="{{ app.url }}" class="button small align-right">Learn More</a>
            </div> -->
        </div>
        <p>{{ app.sub_headline }}</p>
      </div>
      {% endif %}
      {% endfor %}

    </div>
    {{ content }}
    <hr />

  </div>

  </div>
  {% include navigation.html %}
  </div>

  {% include script_tag.html %}

</body>

</html>