<!DOCTYPE HTML>
<html>

{% include head_tag.html %}

<body class="is-preload">
  <div id="wrapper">
    <div id="main">
      <div class="inner">
        {% include header.html %}
        <section id="banner">
          <div class="content">
            <header class="main">
              <h1>{{ page.headline }}</h1>
              <h2>{{ page.sub_headline }}</h2>

              <p>{{ page.date | date: "%A %-d %B, %Y" }}{% if page.author.name %} • {{ page.author.name }}{% endif %} •
                {{ page.read_time }}-minute read{% if page.meta %} • {{ page.meta }}{% endif %}
              </p>

            </header>

        </section>
        <span class="image main"><img src="{{ page.image }}"></span>
        <div class="blogpost">
          {{ content }}
        </div>

        {% include social_sharer.html bottom=true %}

        <hr />
        {% if page.comments %}
        <div id="disqus_thread"></div>
        <script>

          /**
          *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
          *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

          var disqus_config = function () {
            this.page.url = page.url;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = page.headline; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };

          (function () {
            var d = document, s = d.createElement('script');
            s.src = 'https://suze.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
            Disqus.</a></noscript>
        {% endif %}


      </div>
    </div>
    {% include navigation.html %}
  </div>
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/browser.min.js"></script>
  <script src="/assets/js/breakpoints.min.js"></script>
  <script src="/assets/js/util.js"></script>
  <script src="/assets/js/main.js"></script>

</body>

</html>