<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108081564-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-108081564-1');
  </script>
  {% seo %}
</head>

<body class="is-preload">
  <div id="wrapper">
    <div id="main">
      <div class="inner">
        {% include header.html %}
        <section id="banner">
          <div class="content">
            <header class="main">
              <h1>{{ page.headline }}</h1>
              <h2>{{ page.sub_headline }}</h2>

              <p>{{ page.date | date: "%A %-d %B, %Y" }}{% if page.author.name %} • {{ page.author.name }}{% endif %} •
                {{ page.read_time }}-minute read{% if page.meta %} • {{ page.meta }}{% endif %}
              </p>

            </header>

        </section>
        <span class="image main"><img src="{{ page.image }}"></span>
        <div class="blogpost">
          {{ content }}
        </div>
        <hr />
        {% include social_sharer.html bottom=true %}
      </div>
    </div>
    {% include navigation.html %}
  </div>
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/browser.min.js"></script>
  <script src="/assets/js/breakpoints.min.js"></script>
  <script src="/assets/js/util.js"></script>
  <script src="/assets/js/main.js"></script>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</body>

</html>