<!DOCTYPE HTML>
<html>

{% include head_tag.html %}

<body>
  <div id="wrapper">
    <div id="main">
      <div class="inner">
        {% include header.html %}
        <section id="banner">
          <div class="content">
            <header class="main">
              <h1>{{ page.headline }}</h1>
              <p>{{ page.sub_headline }}</p>
            </header>
        </section>
        <span class="image main"><img src="{{ page.image }}"></span>
        {{content}}
        <hr />
        {% for talk in site.talks reversed %}
        <div class="row">
          <div class="col-4 col-12-medium">
            {% for image in talk.image %}
            <span class="image fit">
              <div class="zoombox"><img class="zoomimg" src="{{ image }}"></div>
            </span>
            {% endfor %}
            {% if talk.event_link %}<div class="align-center event-website"><a href="{{ talk.event_link }}"
                class="button icon solid large fa-globe" target="_blank">Event Website</a>{% endif %}</div>
          </div> <!-- col -->
          <div class="col-8 col-12-medium">
            <h4 class="learn-header">{{ talk.event_name }}</h4>
            <h5>{{ talk.date | date: "%B %Y" }} | {{ talk.venue }}</h5>
            <h3>{{ talk.title }}</h3>
            <h5 class="talk-format">{{ talk.format }}</h5>
            {{talk.content}}
          </div> <!-- col -->
        </div> <!-- row -->
        <hr />
        {% endfor %}
      </div>
    </div>
    {% include navigation.html %}
  </div>

  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/browser.min.js"></script>
  <script src="/assets/js/breakpoints.min.js"></script>
  <script src="/assets/js/util.js"></script>
  <script src="/assets/js/main.js"></script>

</body>

</html>